html {
    background: #000;
}

body {
    height: 1000px;
    margin: 0;
    padding: 0;
    background: #222;
    overflow: hidden;
}



div#freakshow > img {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 150%;
    z-index: 1111;
}

.cssanimations {
    body {
        background-size: cover;
        animation-name: bg;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    #freakshow > img {
        display: none;
    }
}

#frdmn {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -350px;
    z-index: 8888;
    background: url(../media/logo/frdmn.png) no-repeat left top;
    animation-name: flicker;

    > img:nth-of-type(1) {
        position: absolute;
        animation-name: fade;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    > img:nth-of-type(2) {
        position: absolute;
        animation-name: highlight;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.no-cssanimations {
    #frdmn {
        background: none;

        > img:nth-of-type(2) {
            display: none;
        }
    }

     #status p {
        color: rgba(255,255,255,0);
        text-shadow: 0px 0px 2px #fff;
        opacity: .7;
    }
}

#status {
    position: absolute;
    width: 700px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: 50px;
    z-index: 9999;
    text-align: center;

    p {
        width: 100%;
        float: left;
        font-size: 18px;
        color: transparent;
        animation-name: status;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        a {
            color: #fff;
            opacity: .6;
            font-size: 21px;
        }

        &:before {
            position: relative;
            bottom: -45px;
            right: -18px;
            content: "“";
            font-size: 120px;
            line-height: 30px;
            opacity: .5;
        }

        &:after {
            position: relative;
            bottom: -20px;
            left: -10px;
            content: "”";
            font-size: 62px;
            line-height: 30px;
            opacity: .5;
        }
    }
}

#tv {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background:  url(../media/tools/gloss.png) no-repeat center top,  url(../media/tools/tvlines.png) repeat left top;
    z-index: 9998;
}

/* @group Profillinks */

#info {
    position: absolute;
    max-width: 30px;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    padding: 10px 5px;
    background: #000;
    overflow: hidden;

    a {
        font-family: Helvetica;
        font-size: 13px;
        margin: 0 50px;
        color: #ccc;
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover {
            color: #fff;
            text-shadow: 0px 0px 3px #fff;
            transition: color .3s ease-in-out;
        }
    }

    span {
        white-space: nowrap;
    }

    &:before {
        content: "•";
        color: #fff;
        font-size: 21px;
        position: absolute;
        left: 10px;
    }

    &:hover {
        max-width: 100%;
        background: rgba(0,0,0,.4);
        transition: max-width 1.3s ease-in-out;

        a {
            margin: 0 10px;
        }

        &::before {
            content: "";
        }
    }
}

/* @end */

.clear {
    clear: both;
}
